// footer.scss

footer {
  align-items: center;
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;

  #mc_embed_signup {
    background-color: black;
    font-family: sans-serif;
  }
}
