// header.scss

header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .logo {
    left: 25px;
    position: absolute;
    top: 25px;
  }
  
  nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  
    a {
      color: white;
      margin: 0 25px;
      text-decoration: none;
      text-transform: uppercase;
  
      &:hover {
        color: blue;
      }
    }
  }
}
