.album-art {
  width:50%;
}

i.fa-chevron-down {
  animation: chevronColorChange 8s infinite;
}

@keyframes chevronColorChange {
  25% { color: yellow; }
  50% { color: blue; }
  75% { color: red; }
  100% { color: purple; }
}