body {
  background-color: black;
}

header {
  height: 100vh;
  padding-top: 50px;
  width: 100vw;
}

nav {
  position: relative;
  text-align: center;
  transition: left .5s;
  z-index: 1;
}

.nav-links {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.nav-link {
  margin: 0 25px;
}

.nav-link:hover span {
  width: 100%;
}

nav a {
  color: white;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
}

nav span {
  background-color: white;
  display: block;
  height: 2px;
  margin-top: 5px;
  transition: width .5s;
  width: 0;
}

.hamburger {
  cursor: pointer;
  display: none;
  left: 25px;
  margin-bottom: 25px;
  position: relative;
}

.hamburger span {
  background-color: lightgray;
  display: block;
  height: 3px;
  margin: 10px 0;
  position: relative;
  width: 50px;
}

header img {
  height: auto;
  left: 50%;
  max-width: 100%;
  position: absolute;
  top: 15%;
  transform: translateX(-50%);
}

main {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}

h2 {
  color: white;
  font-size: 5rem;
  margin-bottom: 50px;
}

p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.25;
  margin: auto;
  max-width: 1230px;
  padding: 0 15px;
}

.section p {
  color: lightgray;
}
.section-gray p {
  color: black;
}

.section {
  padding: 250px 0;
}

.section-gray {
  background-color: lightgray;
}

.section-separator {
  background-color: white;
  height: 2px;
  margin: 250px auto;
  width: 100px;
}

iframe {
  min-width: 300px;
  width: 50%;
}

.back-to-top {
  bottom: 50px;
  height: 50px;
  position: fixed;
  right: -50px;
  transition: right .5s;
  width: 50px;
}

.back-to-top a {
  display: block;
  height: 100%;
  width: 100%;
}

.back-to-top a i {
  color: white;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }

  nav {
    left: -250px;
  }

  .show-mobile-nav {
    left: 0;
  }

  .nav-links {
    align-items: flex-end;
    background-color: lightgray;
    flex-direction: column;
    height: 500px;
    justify-content: flex-start;
    padding-top: 75px;
    width: 250px;
  }

  .nav-link {
    margin: 10px 25px;
  }

  nav a {
    color: black;
  }

  .nav-link:hover span {
    width: 0;
  }
}

@media only screen and (max-width: 400px) {
  header img {
    top: 25%;
  }
}
